.page-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-out;
  opacity: 1;
}

.page-container.fade-out {
  opacity: 0;
}

.choose-color-text {
  width: 80%;
  padding: 6ch;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  zIndex: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  zIndex: 0;
}

.logo {
  width: 80%;
  padding: 6ch;
}

.choose-color-text {
  width: 80%;
  padding: 6ch;
}

@media screen and (max-width: 600px) {
  .page-container {
    height: -webkit-fill-available;
  }

  .lobby-form-box {
    width: 70vw !important;
  }

  .color-chooser-container {
    width: 100% !important;
  }

  .choose-color-text {
    width: 80vmin;
  }
}
