.game-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
  transition: opacity 1s;
  opacity: 0;
}

.chessboard-container {
  transition: width .5s ease, height .5s ease;
  height: fit-content;
  width: 55vmin;
  box-shadow: 0 0 200px -180px white;
}

.logo-game-page {
  transition: opacity 1s 1s;
  position: absolute;
  width: 30vmin;
  top: 5%;
  opacity: 0;
}

.lobby-code {
  transition: opacity 1s 1.5s;
  position: absolute;
  bottom: 5%;
  color: #ccc;
  font-size: 5vmin;
  font-family: "Arial";
  opacity: 0;
}

.visible {
  opacity: 1;
}

.scale {
  width: 60vmin;
}