.game-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
  transition: opacity 1s;
  opacity: 0;
}

.chessboard-container {
  transition: width 1s ease, height 1s ease;
  height: fit-content;
  width: 55%;
}

.logo-game-page {
  transition: opacity 1s 1.5s;
  position: absolute;
  width: 30%;
  top: 9%;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.scale {
  width: 60%;
}